/***
Customized Bootstrap Buttons
***/

/* Default buttons */

.btn {
	border-width: 0;
	padding: 7px 14px; 	
    font-size: 14px;  
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;

    &.dropdown-toggle,
    .btn-group &.dropdown-toggle,
    &:hover,
    &:disabled,
    &[disabled],
    &:focus,
    &:active,
    &.active {
     outline: none !important;
     background-image: none !important;
     filter: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     text-shadow: none;
 }
}

.btn-default {
  border-width: 1px;
  padding: 6px 13px;
} 

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

/* Bootstrap buttons */

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}

.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}

.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}

.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}

.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

/* Button sizes */

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    vertical-align: middle;

    > i {
        font-size: 18px;
    }
}

.btn {
	> i {
		font-size: 14px;		
	}  
}

.btn-sm,
.btn-xs {
    padding: 4px 10px 5px 10px;
    font-size: 13px;
    line-height: 1.5;

    > i {
        font-size: 13px;
    } 
}

.btn-xs {
    padding: 1px 5px;
}

/* Small button in button group */

.btn-group {
    .input-sm {
        .btn-default {
            padding-top: 3px;
            padding-bottom: 3px; 
        }   
    }
}


/* Arrow link */

.btn-arrow-link {
    vertical-align: middle;  
    display: inline-block;
    font-size: 13px;
    
    > i {
       font-size: 14px;
       line-height: 14px;
       vertical-align: top;
       margin: 2px 3px 2px 3px;
    }

    &.btn-arrow-link-lg {
      font-size: 14px;

      > i {
         font-size: 16px;
         line-height: 16px;
         margin: 2px 3px 1px 3px;
      }
    }
}

/* Circle Buttons */

.btn-circle {
  border-radius: 25px !important;  
}

.btn-circle-right {
  border-radius:  0 25px 25px 0 !important;
}

.btn-circle-left {
  border-radius: 25px 0 0 25px !important;
}

.btn-circle-bottom {
  border-radius:  0 0 25px 25px !important;
}

.btn-circle-top {
  border-radius: 25px 25px 0 0 !important;
}

.btn-icon-only {
  padding-left: 11px;
  padding-right: 11px;
}

.btn-group.btn-group-circle {
    > .btn {
        &:first-child {
            border-radius: 25px 0 0 25px !important;
        }

        &:last-child {
            border-radius: 0 25px 25px 0 !important;
        }
    }
}

.btn-group.btn-group-devided {
    > .btn {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.btn-group-vertical.btn-group-vertical-circle {
     > .btn {
        &:first-child {
            border-radius: 25px 25px 0 0 !important;
        }

        &:last-child {
            border-radius: 0 0 25px 25px !important;
        }
    }
}