/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.title_bloc{
    font-weight: bold;
    color: #1A9FDD;
  /*  color: #A5C229; Couleur VERTE */
}

.page-logo img{
    height: 35px; margin-top: 5px;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a,
.page-sidebar .page-sidebar-menu > li.active > a,
.page-sidebar .page-sidebar-menu > li.active.open > a {
    background: #1A9FDD;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active.open > a:hover,
.page-sidebar .page-sidebar-menu > li.active > a:hover,
.page-sidebar .page-sidebar-menu > li.active.open > a:hover {
    background: #1A9FDD;
}

.portlet.box.green-haze > .portlet-title {
    background-color: #A5C229;
}
.portlet > .portlet-body.green-haze, .portlet.green-haze {
    background-color: #A5C229;
}

.portlet.box.green-haze {
    border-color: #A5C229 !important;
}

.fs0{
    font-size: 0px;
}

.bg-blue-su{
    background-color:#1a9fdd !important;
}

.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #A5C229 !important;
}

.p0{
    padding:0 !important;
}
.m0{
    margin:0 !important;
}

.fwb{
    font-weight: bold;
    margin-top: 10px !important; margin-bottom: 0px !important;border-bottom: 1px solid #ddd !important;
    font-size:16px;
}

.font-blue-sup{
    background-color: #1a9fdd;
    color: white;
    font-weight: 300 !important;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

.font-vert-sup{
    background-color: #84dd8e;
    color: white;
    font-weight: 300 !important;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

.text-danger {
    color: #d91e18;
    font-weight: bold;
}