/***
Page Header
***/

.page-header.navbar {
	width: 100%; 
	padding: 0 20px 0 20px;
	margin: 0;
	border: 0px;
	padding: 0px; 
	box-shadow: none;
	height: $header-height; 
	min-height: $header-height;
	filter: none;
	background-image: none;

	/* Fixed header */
	&.navbar-fixed-top {
		z-index: $zindex-header-fixed;
	}

	&.navbar-static-top {
		z-index: $zindex-header-static;
	}

	/* Header logo */
	.page-logo {
		float: left;
		display: block;
		width: $sidebar-logo-container-width;
		height: $header-height;
		padding-left: 20px;
		padding-right: 20px;

		.page-sidebar-closed.page-sidebar-closed-hide-logo & {
			padding: 0;
		}

		.logo-default {
			margin: $header-logo-margin;
		}

		.logo-mini {
			display: none;
			margin-left: 5px;
		}

		.text-logo {
			padding-left: 20px;
			padding-top: 12px;
		}

		.page-sidebar-closed.page-sidebar-closed-hide-logo & { 
			width: $sidebar-collapsed-width;

			.logo-default {
				display: none;
			}
		}
	}

	/* Search box */ 
	.search-form {
		display: inline-block; 
		width: $header-height;
		position: absolute;
		transition: all 0.6s;
		z-index:3;

		.input-group {
			.form-control {
				height: $header-height;
				border: 0;
				background: transparent !important;
				font-size: 13px;
				padding-left: 0;
				margin-left: 12px;
				text-indent: -150000px;

				&:hover {
					cursor: pointer;
				}
			}

			.input-group-btn {
				height: $header-height;  

				.btn.submit {
					margin-left: -24px;
					padding:0;			
					width: $header-height; 
					background: none;
					margin-top: 4px; 
					display: block;

					> i {
						font-size: 15px;
					}
				}	
			}	
		}

		
		&.open {
			transition: all 0.6s;
			width: 300px !important;

			.input-group {
				.form-control {
					text-indent: 0;

					&:hover {
						cursor:text;
					}
				}

				.input-group-btn {
					.btn.submit {
						margin-left: 0;
					}
				}
			}
		}
	}

	/* Menu Toggler */
	.menu-toggler {
		display: block;
		cursor: pointer; 
		opacity: 0.7;
		filter: alpha(opacity=70);
		width: $header-menu-toggler-width;
		height: $header-menu-toggler-height;
		background-repeat: no-repeat;
		background-position: center center;

		&:hover { 
			filter: alpha(opacity=100);
			opacity: 1;
		}

		&.sidebar-toggler {
			float: right;
			display: inline-block;
			margin: $header-sidebar-toggler-margin;

			.page-sidebar-closed.page-sidebar-closed-hide-logo & {
				margin-right: ($sidebar-collapsed-width - $header-menu-toggler-width ) / 2 ;
			}
		}

		&.responsive-toggler {
			display: none;
			float: right;
			margin: $header-responsive-toggler-margin;
		}
	}

	/* Top menu */
	.top-menu {
		margin: 0;
		padding: 0;
		float: right; 

		.navbar-nav {
			padding: 0;
			margin-right: 20px;
			display: block; 

			> li.dropdown {
				margin: 0px;
				padding: 0px 4px;
				height: $header-height;
				display: inline-block;

				&:last-child {
					padding-right: 0px;
				}

				> .dropdown-toggle {
					margin: 0px;
					padding: $header-top-menu-general-item-padding;

					&:last-child {
						padding-right: 0;
					}

					> i {
						font-size: $header-top-menu-icon-font-size; 

						&.glyphicon {
							font-size: $header-top-menu-icon-font-size - 1; 
						}
					}

					> .badge {
						font-family: $font-family-primary;
						position: absolute;
						top: $header-top-menu-general-item-badge-top;
						right: 20px; 
						font-weight: 300px;
						padding: 3px 6px;
					}

					&:focus {
						background: none;
					}
				}

				.dropdown-menu {
					margin-top: 3px;

					&:before {
						position: absolute;
						top: -7px;
						right: 9px;
						display: inline-block !important;
						border-right: 7px solid transparent;
						border-bottom: 7px solid #eee;
						border-left: 7px solid transparent;
						border-bottom-color: rgba(0, 0, 0, 0.2);
						content: '';
					}

					&:after {
						position: absolute;
						top: -6px;
						right: 10px;
						display: inline-block !important;
						border-right: 6px solid transparent;
						border-bottom: 6px solid #fff;
						border-left: 6px solid transparent;
						content: '';
					}

					> li {
						> a {
							color: #555;

						}
					}
				}
			}

			> li.dropdown-extended {

				.dropdown-menu {
					min-width: 160px;
					max-width: 300px;
					width: 233px;
					background-color: #ffffff;

					&:before,
					&:after {
						border-bottom-color: #eee;
					}

					> li {
						a {
							display: block;
							clear: both;
							font-weight: 300;
							line-height: 20px;
							white-space: normal;
							font-size: 13px;
							padding: 10px;
							background-color: #ffffff;
							padding: 7px 10 5px 10px;
							border-bottom: 1px solid #f4f4f4 !important;
							text-shadow: none;
							color: #666;

							&:hover {
								background-image: none;
								background-color: #f5f5f5;
								color: #000;
								filter:none;
							}

							.label-icon {
								margin-right: 5px;
								i {
									margin-right: 2px;
									margin-left: 1px;
								}
							}
						}

						p {
							padding: 10px;
							background-color: #eee;
							margin: 0px;
							font-size: 14px;
							font-weight: 300;
							color: #444;
						}

						&:first-child a {
							border-top: none;
							border-bottom: 1px solid #f4f4f4;
						}

						&:last-child a {
							border-top: 1px solid white;
							border-bottom: 1px solid #f4f4f4;
						}

						&.external {
							> a {
								font-size: 13px;
								font-weight: 400;  

								> i {
									margin-top: 3px;
									float: right;
								}
							}
						}

						/* header notifications dropdowns */
						.dropdown-menu-list {
							padding-right: 0 !important;
							padding-left: 0;
							list-style: none;
						}
					}
				}			
			}

			> li.dropdown-notification {				
				.dropdown-menu {
					.time {
						font-size: 12px;
						font-weight: 600;
						text-align: right;
						font-style: italic;
						opacity: 0.8;
                		filter: alpha(opacity=80);  
					}
				}
			}

			> li.dropdown-inbox {
				.dropdown-menu {
					.photo {
						float: left;
						padding-right: 6px;

						img {
							height: 40px;
							width: 40px;
						}
					}

					.subject {
						display: block;

						.from {
							font-size: 14px;
							font-weight: 400;
							color: #02689b;
						}

						.time {
							font-size: 12px;
							font-weight: 600;
							font-style: italic;
							position: relative;
							float: right;
							opacity: 0.8;
                			filter: alpha(opacity=80);  
						}
					}

					.message {
						display: block !important;
						font-size: 12px;
					}
				}				
			} 
 
			> li.dropdown-tasks {
				.dropdown-menu {
					.task {
						margin-bottom: 5px; 

						.desc {
							font-size: 13px;
							font-weight: 300;
						}

						.percent {
							font-size: 14px;
							font-weight: 600;
							font-family: 'Open Sans', sans-serif;
							float: right;
							display: inline-block;
						}
					}

					.progress {
						display: block;
						height: 11px;
						margin: 0px;
					}
				}
			}

			> li.dropdown-user {
				.dropdown-toggle {
					padding: $header-top-menu-user-item-padding;

					> .username {
						display: inline-block;
						margin-left: 6px;
						font-size: $header-top-menu-user-font-size;
                        font-weight: $header-top-menu-user-font-weight;
					}

					> img {
						margin-top: -2px;
						height: 29px;
					}

					> i {
						display: inline-block;
						margin-top: 5px;
						margin: 0;
						font-size: $header-top-menu-user-font-size;
                        font-weight: $header-top-menu-user-font-weight;
					}
				}

				.dropdown-menu {
					> li {
						> a {
                            font-size: $header-top-menu-user-dropdown-link-font-size;
                            font-weight: $header-top-menu-user-dropdown-link-font-weight;

                            i {
								width: 15px;
								display: inline-block;
								margin-right: 3px;
							}
                        }
						
					}
				} 
			}

			> li.dropdown-language {  
				padding-left: 0;   
				padding-right: 0;  
				margin: 0;

				> .dropdown-toggle {
					color: #ddd;
					font-size: 13px;
					padding: $header-top-menu-language-item-padding;

					> img {
						margin-bottom: 2px;
					}

					> i {
						font-size: 16px;
					}
				}

				> .dropdown-menu {
					> li {
						> a {
							> img {
								margin-bottom: 2px;
							}
						}
					}
				}
			}
		}
	}
}

/* Allow expanded search for above 768px */
@media (min-width: $screen-sm-min) {  /* 768px */
	.page-header.navbar {

		/* Search box */ 
		.search-form {
			&.search-form-expanded {
				width: 200px;

				.input-group {
					.form-control {
						text-indent: 0;

						&:hover {
							cursor:text;
						}
					}

					.input-group-btn {
						.btn.submit {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

/*** 
Horizontal Menu 
***/

.page-header.navbar {

	/* Header container */
	.container {
		position: relative;
	}

	/* Horizontal menu */
	.hor-menu {
		margin: 0;
		float: left;

		.navbar-nav {
			position: static;

			&.navbar-right {
				.dropdown-menu {
					left: auto;
					right: 0;
				}
			}

			/* Mega menu */
			> li.mega-menu-dropdown {
				position: static;

				> .dropdown-menu {
					left: auto;
					width: auto;

					.mega-menu-content {
						padding: 10px;
						margin: 0;

						&.mega-menu-responsive-content {
							padding: 10px 18px 10px 45px;
						}

						.mega-menu-submenu {
							width: auto !important;
							padding: 0px 15px !important;
							margin: 0 !important;

							&:last-child {
								border-right: 0;
							}

							li {
								padding: 2px !important;
								margin: 0 !important;
								list-style: none;

								> h3 {
									margin-top: 10px;
									padding-left: 5px;									
                                    font-size: $header-hor-menu-mega-menu-header-font-size;
                                    font-weight: $header-hor-menu-mega-menu-header-font-weight;
								}

								> a { 
									padding: 5px !important; 
									margin: 0 !important;									
                                    font-size:  $header-hor-menu-dropdown-menu-link-font-size;
                                    font-weight:  $header-hor-menu-dropdown-menu-link-font-weight;
								}
							}
						}
					}
				}

				&.mega-menu-full {
					.dropdown-menu {
						left: 20px;
						right: 20px;
					}
				}

				/* Boxed layout */
				.page-boxed & {
					> .dropdown-menu {  
						top: $header-height;
					}

					&.mega-menu-full {
						.dropdown-menu {
							margin: 0;
							padding: 0;
							left: 18px;
							right: 18px;
						}
					}
				}
			}

			/* Classic menu */
			> li {
				> a {					
                    font-size: $header-hor-menu-default-link-font-size;
                    font-weight: $header-hor-menu-default-link-font-weight;
					padding: $header-hor-menu-general-item-padding;
				}

				&.current,
				&.active {
					.selected {
						left: 50%;
						bottom:0;
						position: absolute;
						border-left: 6px solid transparent;
						border-right: 6px solid transparent;
						border-top: 6px solid transparent;
						display: inline-block;
						margin: 0;
						width: 0px;
						height:0px;
						margin-left: -7px;
						margin-bottom:-6px;
					}
				}

				.dropdown-menu {
					margin-top: 0;
					border: none;

					li {
						> a {
                        	font-size:  $header-hor-menu-dropdown-menu-link-font-size;
                        	font-weight:  $header-hor-menu-dropdown-menu-link-font-weight;
							padding: $header-hor-menu-submenu-item-padding;
						}
					}
				}

				.dropdown-submenu {
					> .dropdown-menu {
						top: 0px;
					}

					> a:after {
						top: $header-hor-menu-submenu-item-arrow-top;
					}
				}  		
			}
		}
	}
}

/* Form medium devices upto large devices */

@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {  /* 992px 1200px */
	/* Boxed layout */
	.page-boxed {
		.page-header.navbar {  
			/* Top menu */  
			.top-menu {
				.navbar-nav {
					> li.dropdown-user {
						.dropdown-toggle {
							.username {
								display: none;
							}
						}
					}

					> li.dropdown-language {
						.dropdown-toggle {
							.langname {
								display: none;
							}
						}
					}
				}
			}
		}
	}	
}

@media (min-width: $screen-md-min) { /* 992px */

	/* Boxed Layout */
	.page-boxed	{
		.page-header.navbar {
			/* Page logo */
			.page-logo {
				width: ($sidebar-width + 1px);
			}

			/* Top menu */
			.top-menu {
				.navbar-nav {
					margin-right: 0px;
				}	
			}
		}
	}

	/* Sidebar closed & logo hidden */
	.page-sidebar-closed.page-sidebar-closed-hide-logo.page-boxed {
		.page-header.navbar {
			/* Page logo */
			.page-logo {
				width: ($sidebar-collapsed-width + 1);
			}
		}
	}

	/* Boxed layout & page sidebar fixed layout */
	.page-boxed.page-sidebar-fixed {
		.page-header.navbar {
			/* Page logo */
			.page-logo {
				width: $sidebar-width;
			}
		}
	}
}

@media (max-width: $screen-sm-max) { /* 991px */

	/* Page header */
	.page-header.navbar {
		padding: 0 20px 0 20px;
		position: relative;
		clear: both;

		/* Page logo */
		.page-logo {
			width: auto;
			padding: 0;
			margin-right: 10px;
			margin-left: 0px !important;
			padding-left: 0px !important; 

			img {
				margin-left: 4px !important;
			}
		}

		/* Menu Toggler */
		.menu-toggler {
			&.sidebar-toggler {
				display:none !important;
			}

			&.responsive-toggler {
				display: inline-block;
			}
		}

		/* Search Form */
		.search-form { 
			float: right !important;
		}

		/* Top Menu */
		.top-menu {
			.navbar-nav {
				display: inline-block;
				margin: 0 10px 0 0;

				> li {
					float: left;
				}

				.nav li.dropdown i {
					display: inline-block;
					position: relative;
					top:1px;
					right:0px;
				}

				.open .dropdown-menu  {
					position: absolute;
				}
			}
		}	
	}

	/* Fixed header for mobile */
	.page-header-fixed.page-header-fixed-mobile {
		.navbar-fixed-top {
			position: fixed;
		}
	}	 

	/* Boxed Layout */
	.page-boxed .page-header.navbar {
		> .container {
			max-width: none !important;
			margin: 0 !important; 
			padding: 0 !important;
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { /* 768px & 991px */

	/* Boxed Layout */
	.page-boxed {
		.page-header.navbar  {
			margin: auto !important;
			padding: 0;

			> .container {
				margin: auto !important;
			}
		}
	}
}

@media (max-width: $screen-xs-max) { /* 767px */

	/* Page header */	
	.page-header.navbar {
		padding: 0 10px 0 10px;

		/* Header logo */
		.page-logo {
			width: auto;
		}

		/* Search box */ 
		.search-form {
			&.open {
				width: auto !important;
			}
		}

		/* Top navigation menu*/
		.top-menu {
			.navbar-nav {
				> li.dropdown-notification {
					.dropdown-menu {
						margin-right: -180px;

						&:after,
						&:before {
							margin-right: 180px;   
						}
					}
				}

				> li.dropdown-inbox {
					.dropdown-menu {
						margin-right: -140px;

						&:after,
						&:before {
							margin-right: 140px;
						}
					}
				}

				> li.dropdown-tasks {
					.dropdown-menu {
						margin-right: -80px;

						&:after,
						&:before {
							margin-right: 80px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 580px) {

	/* Page header */
	.page-header.navbar {
		.top-menu {
			.navbar-nav {
				> li.dropdown-user {
					.dropdown-toggle {
						.username {
							display: none;
						}
					}
				}

				> li.dropdown-language {
					.dropdown-toggle {
						.langname {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-xs-min) { /* 480px */

	/* Fixed header for mobile */
	.page-header-fixed.page-header-fixed-mobile {
		.page-header.navbar {
			height: $header-height-xs;
		}
	}

	.page-header.navbar {
		/* Top menu */
		.top-menu {
			display: block;
			clear: both;

			.navbar-nav {				
				margin-right: 0;

				> li.dropdown {
					.dropdown-toggle {
						padding: $header-top-menu-general-item-padding-on-mobile;
					}
				}

				> li.dropdown-language {
					.dropdown-toggle {
						padding: $header-top-menu-language-item-padding-on-mobile;
					}
				}

				> li.dropdown-user {
					.dropdown-toggle {
						padding: $header-top-menu-user-item-padding-on-mobile;
					}
				}
			}
		}
	}
}

/***
Pace - Page Progress
***/

.pace .pace-progress {
  z-index: 10000;
  top: $header-height - 2px;
  height: 2px;
}

.pace .pace-progress-inner {
  box-shadow: none;
}

.pace .pace-activity {
  top: $header-height + 2px;
  right: 22px;
  border-radius: 10px !important; 
}

@media (max-width: $screen-xs-min) { /* 480px */ 

  .page-header-fixed .pace .pace-progress {
    top: ($header-height * 2);
  }

  .page-header-fixed .pace .pace-activity {
    top: ($header-height * 4) + 4px;
    right: 15px;
  }

}