/***
Theme Panel
***/

.theme-panel {
    width: 400px;
    margin-top: -13px;
    margin-right: 1px;
    z-index: 10;
    float: right;
    position:relative;

    > .toggler {
        top:4px;
        right:0;
        padding:20px;
        cursor:pointer;
        position:absolute;
        background:#d5dade url(../img/icon-color.png) center no-repeat;

        &:hover {
            background-color: #3d3d3d !important;
        }
    }

    > .toggler-close {
        display: none;
        top:4px;
        right:0;
        padding:20px;
        cursor:pointer;
        position:absolute;
        background: #3d3d3d url(../img/icon-color-close.png) center no-repeat !important;

        &:hover {
            background-color:#222 !important;
        }
    }

    > .theme-options {
        top:4px;
        right:40px;
        display:none;
        position:absolute;
        background:#3d3d3d;
        
        > .theme-option {
            color:#cfcfcf;
            padding: 15px;
            border-top:1px solid #585858;
            margin-top: 0px;
            margin-bottom: 0px;

            > span {  
              text-transform:uppercase;
              display: inline-block;
              width: 138px;
              font-size: 14px;
            }

            > select.form-control {
              display: inline;
              width: 100px;
              text-transform: lowercase;
            }

            &.theme-colors {
                border-top: 0;

                > span {
                  display: block;
                  width: auto;
                }

                > ul {
                  list-style:none;
                  padding: 0;
                  display: block;
                  margin-bottom: 1px !important;
                  margin-top: 10px;

                  > li {
                        width:37px;
                        height:37px;
                        margin:0 4px;
                        cursor:pointer;
                        list-style:none;
                        float: left;
                        border:solid 1px #707070; 

                        &:first-child { 
                            margin-left: 0;
                        }

                        &:hover,
                        &.current {
                            border:solid 2px #ebebeb;
                        }

                        /* theme colors */
                        &.color-default {
                            background: #333438;
                        }

                        &.color-darkblue {
                            background: #2b3643;
                        }

                        &.color-blue {
                            background: #2D5F8B;       
                        }

                        &.color-grey {
                            background: #697380;
                        }

                        &.color-light {
                            background: #F9FAFD;
                        }

                        &.color-light2 {
                            background: #F1F1F1;
                        }
                    }
                }
            }
        }
    }

    /* content solid bg color */

    .page-container-bg-solid & {
        position: absolute;
        margin-top: 32px; 
        margin-right: 20px;
        right: 0;

        > .toggler {
            background:#BFCAD1 url(../img/icon-color.png) center no-repeat;
        }
    }

    .page-container-bg-solid.page-sidebar-reversed & {
        margin-right: 20px + $sidebar-width;  
    }
}